In [21]:
import pandas as pd
import numpy as np

## Read CSV

In [40]:
pokemon = pd.read_csv('./data/pokemon.csv')
pokemon

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [41]:
type(pokemon)

pandas.core.frame.DataFrame

In [42]:
pokemon = pd.read_csv('./data/pokemon.csv', index_col='Pokemon')
pokemon

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [43]:
type(pokemon)

pandas.core.frame.DataFrame

In [44]:
pokemon = pokemon.squeeze('columns')
pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [45]:
type(pokemon)

pandas.core.series.Series

In [46]:
google = pd.read_csv('data/google_stocks.csv')
google

            Date    Close
0     2004-08-19    49.98
1     2004-08-20    53.95
2     2004-08-23    54.50
3     2004-08-24    52.24
4     2004-08-25    52.80
...          ...      ...
3819  2019-10-21  1246.15
3820  2019-10-22  1242.80
3821  2019-10-23  1259.13
3822  2019-10-24  1260.99
3823  2019-10-25  1265.13

[3824 rows x 2 columns]

In [47]:
google = pd.read_csv('data/google_stocks.csv', parse_dates=['Date'], index_col='Date').squeeze('columns')
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [48]:
battles = pd.read_csv('data/revolutionary_war.csv')
battles

                                Battle  Start Date          State
0                         Powder Alarm    9/1/1774  Massachusetts
1    Storming of Fort William and Mary  12/14/1774  New Hampshire
2     Battles of Lexington and Concord   4/19/1775  Massachusetts
3                      Siege of Boston   4/19/1775  Massachusetts
4                   Gunpowder Incident   4/20/1775       Virginia
..                                 ...         ...            ...
227                Siege of Fort Henry   9/11/1782       Virginia
228         Grand Assault on Gibraltar   9/13/1782            NaN
229          Action of 18 October 1782  10/18/1782            NaN
230          Action of 6 December 1782   12/6/1782            NaN
231          Action of 22 January 1783   1/22/1783       Virginia

[232 rows x 3 columns]

In [49]:
battles = pd.read_csv('data/revolutionary_war.csv', parse_dates=['Start Date'], index_col='Start Date',
                      usecols=['Start Date', 'State'])
battles

                    State
Start Date
1774-09-01  Massachusetts
1774-12-14  New Hampshire
1775-04-19  Massachusetts
1775-04-19  Massachusetts
1775-04-20       Virginia
...                   ...
1782-09-11       Virginia
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
1783-01-22       Virginia

[232 rows x 1 columns]

In [50]:
battles = battles.squeeze('columns')
battles

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

## Usefull Methods

In [52]:
battles.sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [53]:
battles.sort_values(ascending=False)

Start Date
1783-01-22    Virginia
1781-09-28    Virginia
1779-05-10    Virginia
1781-09-05    Virginia
1781-07-06    Virginia
                ...
1782-08-08         NaN
1782-08-25         NaN
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
Name: State, Length: 232, dtype: object

In [55]:
battles.sort_values(ascending=False,na_position='first')

Start Date
1775-09-17            NaN
1775-12-31            NaN
1776-03-03            NaN
1776-03-25            NaN
1776-05-18            NaN
                 ...
1777-05-17        Florida
1777-09-03       Delaware
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
Name: State, Length: 232, dtype: object

In [56]:
battles.dropna()

Start Date
1774-09-01     Massachusetts
1774-12-14     New Hampshire
1775-04-19     Massachusetts
1775-04-19     Massachusetts
1775-04-20          Virginia
                   ...
1782-08-15          Virginia
1782-08-19          Virginia
1782-08-26    South Carolina
1782-09-11          Virginia
1783-01-22          Virginia
Name: State, Length: 162, dtype: object

In [57]:
battles.dropna().sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

In [58]:
battles.sort_index()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [59]:
google.nlargest()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [60]:
google.nlargest(3)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
Name: Close, dtype: float64

In [61]:
google.nsmallest()

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

In [62]:
google.nsmallest(2)

Date
2004-09-03    49.82
2004-09-01    49.94
Name: Close, dtype: float64

In [63]:
battles.value_counts()

State
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Pennsylvania      10
North Carolina     9
Florida            8
Georgia            6
Vermont            3
Rhode Island       3
Connecticut        3
New Hampshire      1
Delaware           1
Indiana            1
Louisiana          1
Ohio               1
Name: count, dtype: int64

In [64]:
battles.value_counts(ascending=True)

State
New Hampshire      1
Delaware           1
Louisiana          1
Indiana            1
Ohio               1
Connecticut        3
Vermont            3
Rhode Island       3
Georgia            6
Florida            8
North Carolina     9
Pennsylvania      10
Massachusetts     11
Virginia          21
New Jersey        24
New York          28
South Carolina    31
Name: count, dtype: int64

In [66]:
battles.value_counts(normalize=True,ascending=True)

State
New Hampshire     0.006173
Delaware          0.006173
Louisiana         0.006173
Indiana           0.006173
Ohio              0.006173
Connecticut       0.018519
Vermont           0.018519
Rhode Island      0.018519
Georgia           0.037037
Florida           0.049383
North Carolina    0.055556
Pennsylvania      0.061728
Massachusetts     0.067901
Virginia          0.129630
New Jersey        0.148148
New York          0.172840
South Carolina    0.191358
Name: proportion, dtype: float64

In [68]:
(battles.value_counts(normalize=True,ascending=True)*100).round(2)

State
New Hampshire      0.62
Delaware           0.62
Louisiana          0.62
Indiana            0.62
Ohio               0.62
Connecticut        1.85
Vermont            1.85
Rhode Island       1.85
Georgia            3.70
Florida            4.94
North Carolina     5.56
Pennsylvania       6.17
Massachusetts      6.79
Virginia          12.96
New Jersey        14.81
New York          17.28
South Carolina    19.14
Name: proportion, dtype: float64

In [67]:
battles.nunique()

17

In [71]:
bins = [0,200,400,600,800,1000,1200,1400]
google.value_counts(bins=bins)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [72]:
google.value_counts(bins=bins).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [73]:
google.value_counts(bins=6)

(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(1081.287, 1287.58]     337
(874.993, 1081.287]     292
Name: count, dtype: int64

In [78]:
battles.index

DatetimeIndex(['1774-09-01', '1774-12-14', '1775-04-19', '1775-04-19',
               '1775-04-20', '1775-05-10', '1775-05-27', '1775-06-11',
               '1775-06-17', '1775-08-08',
               ...
               '1782-08-08', '1782-08-15', '1782-08-19', '1782-08-26',
               '1782-08-25', '1782-09-11', '1782-09-13', '1782-10-18',
               '1782-12-06', '1783-01-22'],
              dtype='datetime64[ns]', name='Start Date', length=232, freq=None)

In [79]:
battles.index.value_counts()

Start Date
1775-04-19    2
1778-09-07    2
1777-08-22    2
1781-04-25    2
1781-09-13    2
             ..
1782-09-11    1
1782-09-13    1
1782-10-18    1
1782-12-06    1
1783-01-22    1
Name: count, Length: 217, dtype: int64

In [80]:
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [82]:
google.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [83]:
google.apply(lambda x: round(x)%2==0)

Date
2004-08-19     True
2004-08-20     True
2004-08-23     True
2004-08-24     True
2004-08-25    False
              ...
2019-10-21     True
2019-10-22    False
2019-10-23    False
2019-10-24    False
2019-10-25    False
Name: Close, Length: 3824, dtype: bool